# If you make changes to this file, you should run `uv run pre-commmit install` to update the hooks
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: Ruff Checker
        entry: uv run ruff check --fix
        language: system
        types: [python]
      - id: ruff-format
        name: Ruff Formatter
        entry: uv run ruff format
        language: system
        types: [python]
      - id: detect-secrets
        name: Detect Secrets
        entry: uv run detect-secrets-hook --baseline .secrets.baseline
        language: system
        types: [text]
        exclude: >-
          (?x)^(
              \.env.*\.example|
              \.env.*\.sample|
              .*\.ipynb
          )$

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        args: [--branch, main, --branch, master, --pattern, dev.*]
      - id: check-added-large-files
        args: ["--maxkb=5120"]
      - id: check-json
        types: [json]
        exclude: ^\.vscode/.*$ # Ignore .vscode folder which uses JSONC.
      - id: check-toml
        types: [toml]
      - id: check-yaml
        types: [yaml]

      # Prevents committing files with names that are invalid on Windows.
      - id: check-illegal-windows-names

      - id: check-merge-conflict # Prevents committing unresolved merge conflicts.

      # Detects files whose names differ only by capitalization, which may cause issues in case-insensitive filesystems (e.g., foo.py vs Foo.py).
      - id: check-case-conflict

      # Ensures executable files (chmod +x) have a valid shebang (e.g., #!/usr/bin/env python3).
      - id: check-executables-have-shebangs

      # Enforces proper test file naming conventions (e.g., test_foo.py vs foo_test.py).
      - id: name-tests-test
        args: [--pytest-test-first]
        files: ^tests/ # only check files in the tests/ directory