name: 'Continuous Integration'

on:
  push:
    branches: ['**']
  pull_request:
    branches: ['**']

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install uv
        uses: astral-sh/setup-uv@v2

      - name: Install dependencies
        run: uv sync --group test

      - name: Run model tests
        run: uv run pytest --cov-config=.coveragerc --cov-report term --cov-report xml --junitxml=reports/junit.xml --cov=challenge tests/model

      - name: Run API tests
        run: uv run pytest --cov-config=.coveragerc --cov-report term --cov-report xml --junitxml=reports/junit.xml --cov=challenge tests/api
